repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]
      - id: end-of-file-fixer
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
      - id: ruff-format
