[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pystac = "1.0.0b1"
pystac-client = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
